body,
h1,
h3,
h4,
li,
ol,
p,
ul {
    margin: 0;
    padding: 0;
}

video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.banner_wrap {
    height: 624px;
    margin-bottom: 60px;
    background-color: #0457b7;
    *margin-top: -84px;
}

.flexslider .slides>li {
    height: 685px;
}

.flexslider .slide-video .mask {
    width: 100%;
    height: 685px;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    opacity: .4;
    filter: alpha(opacity=40);
}

.flexslider .slide-video .logo {
    width: 296px;
    height: 48px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -148px;
    margin-top: -123px;
    background: url(https://www.tencent.com/images/index/banner_logo.png) no-repeat;
    cursor: pointer;
}

.flexslider .slide-video video {
    position: absolute;
    left: 50%;
    margin-left: -960px;
}

.flexslider .slide-video .bg {
    width: 100%;
    height: 685px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(https://www.tencent.com/images/index/banner_video_img.jpg) center center no-repeat;
}

.banner_wrap {
    overflow: hidden;
    background: #0457b7;
}


/* ÊÓÆµÎÄ±¾ */

.banner_wrap .text {
    width: 100%;
    height: 135px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -67.5px;
    text-align: center;
    color: #fff;
    font-size: 90px;
    cursor: default;
}

.ok {
    text-align: center;
}