Package: com.painclown.repoicons
Name: 鐺鐺鐺™的源图标
Version: 1.0
Architecture: iphoneos-arm
Description: 鐺鐺鐺™源的图标是源老大PAINCLOWN亲手截的图.
Depiction: https://painclown.github.io/repo/depictions/?p=com.painclown.repoicons
Maintainer: PAINCLOWN <pozz@vip.qq.com>
Author: PAINCLOWN <pozz@vip.qq.com>
Section: 其他
